:root {
  /* fonts */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';

  /* text color */
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --link-base-color: #212121;
  --text-white-color: #ffffff;
  --link-active-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);

  /* gradient */
  --hero-linear-gradient: rgba(47, 48, 58, 0.4);

  /* icon color */
  --team-icon-color: #afb1b8;
  --team-icon-focus-color: #ffffff;
  --clients-color: #afb1b8;
  --clients-focus-color: #188ce8;
  --footer-icon-color: #ffffff;

  /* background-color */
  --background-white-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-btn-active-color: #188ce8;
  --background-button-color: #f5f4fa;
  --team-icon-focus-bg: #2196f3;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --footer-icon-focus-bg: #2196f3;

  /* border-color */
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --clients-border-color: #afb1b8;
  --clients-border-focus-color: #188ce8;
  --team-item-border: 0px 0px 4px 4px;

  /* box-shadow */
  --hero-batton-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-filters-item-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-projects-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  /* others */
  --items: 3;
  --indent: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--background-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* cітка із застосуванням flex-box */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

/* social network */

.social-network-list {
  display: flex;
}

.social-network-item {
  margin-right: 10px;
}

.social-network-item:last-child {
  margin-right: 0;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
}
/* end social network */

/* cекція Header */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo .accent {
  color: var(--link-active-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-nav .header-item + .header-item {
  margin-left: 50px;
}

.header-nav .header-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-base-color);
  text-decoration: none;

  transition: color var(--transition);
}

.header-nav .header-link:hover,
.header-nav .header-link:focus {
  color: var(--link-active-color);
}

.header-nav .header-link.current {
  color: var(--link-active-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-active-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts-list .header-contacts-item + .header-contacts-item {
  margin-left: 50px;
}

.header-contacts-list .contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

  transition: color var(--transition);
}

.header-contacts-list .contacts-link:hover,
.header-contacts-list .contacts-link:focus {
  color: var(--link-active-color);
}

.header .contacts-icon {
  margin-right: 10px;

  fill: currentColor;
}

/* Секція Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(
      to right,
      var(--hero-linear-gradient),
      var(--hero-linear-gradient)
    ),
    url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-secondary-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.hero-batton {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white-color);

  text-align: center;

  background-color: var(--link-active-color);
  border-radius: 4px;
  border: none;
  box-shadow: var(--hero-batton-shadow);

  transition: background-color var(--transition);
  cursor: pointer;
}

.hero-batton:hover,
.hero-batton:focus {
  background-color: var(--background-btn-active-color);
}

/* Заголовки секцій  */

.about-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--link-base-color);
}

/* Секція Benefits */

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-thumb {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--background-button-color);
  border-radius: 4px;
}

.benefits .benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--link-base-color);
  text-transform: uppercase;
}

/* Секція About */

.about.section {
  padding-top: 0;
}

.about-title {
  text-align: center;
}

.about-title {
  margin-bottom: 50px;
}

.about-list {
  --items: 3;
}

.about-item {
  position: relative;
}

.about .img-title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Секція Team */

.team {
  text-align: center;

  background-color: var(--background-button-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-item {
  background-color: var(--background-white-color);
  border-radius: var(--team-item-border);
  box-shadow: var(--team-item-shadow);
}

.team .text-container {
  padding: 30px 0;

  text-align: center;
}

.team-list {
  --items: 4;
}

.team-unit {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--link-base-color);
  text-align: center;
}

.team .job-title {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .social-network-list {
  justify-content: center;
}

.team .link-social {
  color: var(--team-icon-color);

  transition: color var(--transition), background-color var(--transition);
}

.team .link-social:hover,
.team .link-social:focus {
  color: var(--team-icon-focus-color);
  background-color: var(--team-icon-focus-bg);
}

.team .social-icon {
  fill: currentColor;
}

/* Секція Clients */
.clients {
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-items {
  margin-right: 30px;
}

.clients-items:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--clients-color);

  border: 1px solid var(--clients-border-color);
  border-radius: 4px;

  transition: color var(--transition), border-color var(--transition);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--clients-focus-color);

  border-color: var(--clients-border-focus-color);
}

.logo-icon {
  fill: currentColor;
}

/* Секція Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-secondary-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  width: 231px;
  margin-right: 70px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--text-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-white-color);
  text-decoration: none;

  transition: color var(--transition);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--link-active-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);
  text-decoration: none;

  transition: color var(--transition);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--link-active-color);
}

.footer-social {
  margin-right: 94px;
}

.social-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-white-color);
  text-transform: uppercase;
}

.footer .link-social {
  color: var(--footer-icon-color);

  background-color: var(--footer-icon-bg);

  transition: background-color var(--transition);
}

.footer .link-social:hover,
.footer .link-social:focus {
  background-color: var(--footer-icon-focus-bg);
}

.footer .social-icon {
  fill: currentColor;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-white-color);
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  width: 570px;
}

.footer-form-inpat {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-secondary-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-inpat::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Секція Portfolio */

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filters-list .item + .item {
  margin-left: 8px;
}

.portfolio-filters-item {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--link-base-color);
  text-align: center;

  background-color: var(--background-button-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}

.portfolio-filters-item:hover,
.portfolio-filters-item:focus {
  color: var(--text-white-color);

  background-color: var(--link-active-color);
  box-shadow: var(--portfolio-filters-item-shadow);
}

.portfolio-projects-list {
  --items: 3;
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;

  box-shadow: var(--portfolio-projects-item-shadow);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(calc(100% + 1px));
  transition: transform var(--transition), opacity var(--transition);
}

.product-description {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.portfolio-link:hover .product-overlay,
.portfolio-link:focus .product-overlay {
  transform: translateY(0);
}

.description-text {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
}

.portfolio .title {
  padding: 20px 24px;

  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}

.portfolio-project {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--link-base-color);
}

.portfolio-working {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.modal .form {
  width: 448px;
}

.form-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  cursor: pointer;

  transition: fill var(--transition);
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-field:hover,
.form-field:focus-within {
  fill: #2196f3;
}

.form-lable {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-input {
  padding: 11px 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--transition);
}

.form-input:hover,
.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.form-textarea-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #212121;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  cursor: pointer;
  transition: border-color var(--transition);
}

.form-textarea-input:hover,
.form-textarea-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-textarea-input::placeholder {
  color: rgba(117, 117, 117, 0.5);

  transition: color var(--transition);
}

.form-textarea-input:hover::placeholder,
.form-textarea-input:focus::placeholder {
  color: #2196f3;
}

.checkbox-field {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-left: 10px;
  margin-bottom: 30px;

  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.off-checkbox {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 1;
}

.on-checkbox {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 0;
}

.checkbox-input:checked ~ .on-checkbox {
  opacity: 1;
}

.checkbox-input:checked ~ .off-checkbox {
  opacity: 0;
}

.form-text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-link {
  text-decoration-line: underline;
  color: #2196f3;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;
  transition: background var(--transition);
}

.submit-button:hover,
.submit-button:focus {
  background: #188ce8;
}

.bt-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
  transition: fill var(--transition);
}

.bt-modal-close:hover,
.bt-modal-close:focus {
  fill: #2196f3;
}
